.content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 40px;
}

.sub {
  a {
    text-decoration: none;
    color: #11b3cf;
  }
  font-size: 18px;
}

.content {
  a {
    text-decoration: none;
    color: #11b3cf;
  }
}
